<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">

  <title>{% block pagetitle %}Welcome !{% endblock %}</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.1/css/bulma.css" 
  rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
  </head>

  <body>
    <section class="hero is-info is-small">
      <div class="hero-head">
        <header class="nav">
          <div class="container">
            <div class="nav-left">
             <span class="nav-item">
              <a href="{{ path('dashboard') }}" class="button is-inverted">
                <span class="icon">
                  <i class="fa fa-github"></i>
                </span>
                <span>TodoApp</span>
              </a>
            </span>
          </div>
          <span class="nav-toggle">
            <span></span>
            <span></span>
            <span></span>
          </span>
          <div class="nav-right nav-menu">
            {% if is_granted('ROLE_USER') %}
              <span class="nav-item">
                <a href="{{ path('fos_user_security_logout') }}" class="button is-info is-inverted">
                  <span class="icon">
                    <i class="fa fa-github"></i>
                  </span>
                  <span>{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</span>
                </a>
              </span>
            {% else %}
              <span class="nav-item">
                <a href="{{ path('fos_user_registration_register') }}" class="button is-info is-inverted">
                  <span class="icon">
                    <i class="fa fa-github"></i>
                  </span>
                  <span>Register</span>
                </a>
              </span>
              <span class="nav-item">
                <a href="{{ path('fos_user_security_login') }}" class="button is-info is-inverted">
                  <span class="icon">
                    <i class="fa fa-github"></i>
                  </span>
                  <span>{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</span>
                </a>
              </span>
            {% endif %}
          </div>
        </div>
      </header>
    </div>

    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title">
          {% block subtitle %}...{% endblock %}
          </h1>
        </div>
      </div>

      <div class="hero-foot">
        <nav class="tabs">
          <div class="container">
            <ul>
              {% if is_granted('ROLE_USER') %}
                <li class="is-active">
                  <a href="/">Dashboard</a>
                </li>
                <li class="is-active">
                  <a href="{{ path('todo_index') }}">Todo list</a>
                </li>
                <li>
                  <a href="{{ path('todo_new') }}">Create a new todo</a>
                </li>
              {% endif %}
            </ul>
          </div>
        </nav>
      </div>
    </section>
    {% if app.request.hasPreviousSession %}
     {% for type, messages in app.session.flashbag.all() %}
       {% for message in messages %}
         <div class="notification  is-{{ type }}">
           {{ message }}
         </div>
       {% endfor %}
     {% endfor %}
   {% endif %}
   
   <div class="box">
     {% block body %}{% endblock %}   
     </div>
     {% block javascripts %}{% endblock %}
     </body>
     </html>