{% extends 'layout.html.twig' %}

{% block subtitle %}Todos list{% endblock %}

  {% block body %}
    <table class="table is-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>Category</th>
          <th>Content</th>
          <th>Duedate</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for todo in todos %}
          <tr>
            <td><a href="{{ path('todo_show', { 'id': todo.id }) }}">{{ todo.id }}</a></td>
            <td>{{ todo.category }}</td>
            <td>{{ todo.content }}</td>
            <td>{{ todo.dueDate|date('d-m-Y H:i') }}</td>
            <td>
              <div class="field is-grouped">
                <p class="control">
                  <a href="{{ path('todo_show', { 'id': todo.id }) }}" class="button ">
                    show
                  </a>
                </p>
                <p class="control">
                  <a href="{{ path('todo_edit', { 'id': todo.id }) }}" class="button is-primary">
                    edit
                  </a>
                </p>
              </div>

            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endblock %}
